@media (min-width: 488px) and (max-width: 508px) {
  .manager__offer {
    width: 86%;
    font: 13px/20px Arial, sans-serif;
  }
}
@media (min-width: 360px) and (max-width: 487px) {
  .manager {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
  }
  .manager__divData {
    align-self: center;
  }
  .manager__offer {
    width: 316px;
    font: 13px/20px Arial, sans-serif;
    padding: 7px 15px;
    margin: 6px auto 0;
    position: initial;
  }

  #service .col-sm-12 {
    float: none;
    display: block;
    margin: 12px auto 0;
  }

  .services {
    margin: 12px 0 0 0;
  }

  .message-block__p {
    text-align: justify;
  }

  .review-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  .review-header__div {
    width: 100%;
  }
}

/*# sourceMappingURL=media.css.map */
