@font-face {
  font-family: 'PTSansbold';
  src: url("fonts/PTSansbold.eot");
  src: url("fonts/PTSansbold.eot") format("embedded-opentype"), url("fonts/PTSansbold.woff2") format("woff2"), url("fonts/PTSansbold.woff") format("woff"), url("fonts/PTSansbold.ttf") format("truetype"), url("fonts/PTSansbold.svg#PTSansbold") format("svg");
}
*:focus {
  outline: none;
}

.container {
  width: 100%;
}

.valid-message {
  color: #f00;
  text-align: center;
}

body {
  max-width: 720px;
  min-width: 360px;
  background-color: #fff;
  outline: 1px solid #000;
  margin: 0 auto;
  padding: 0 19px 0 20px;
  box-sizing: border-box;
}

/* ============  BEGIN header  ============ */
header .col-sm-12 {
  padding: 0;
}

.manager {
  margin-top: 16px;
  display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.manager__img {
  height: 120px;
  width: 120px;
  margin-left: 1px;
  z-index: 2;
}
.manager__divData {
  margin-left: 10px;
}
.manager__divData_name {
  font: bold 16px/20px Arial, sans-serif;
  color: #333;
  margin: 0 0 1px 0;
}
.manager__divData_position {
  font: 12px/20px Arial, sans-serif;
  color: #808080;
  margin: 0;
}
.manager__offer {
  font: 14px/20px Arial, sans-serif;
  color: #333;
  margin: 0;
  background-color: #fffbc8;
  border: 1px solid rgba(60, 44, 0, 0.25);
  border-radius: 3px;
  padding: 7px 13px 7px 70px;
  position: absolute;
  top: 51px;
  left: 60px;
}

/* ============ END header ============ */
/* ============  BEGIN services  ============ */
#service .col-sm-12 {
  float: right;
}

.services {
  width: 319px;
  margin: -1px 0 0 0;
}
.services__header {
  font: 13px/15px Arial, sans-serif;
  color: #333;
  text-align: right;
  margin: 0 33px 7px 0;
}
.services__all-services {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 14px 0;
}
.services__all-services_data {
  display: flex;
  justify-content: space-between;
}
.services__all-services_data:nth-child(1) span:first-child::before {
  content: '';
  width: 219px;
  height: 24px;
  background-color: #b1e19b;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 1px;
  left: 0;
  z-index: -1;
}
.services__all-services_data:nth-child(2) span:first-child::before {
  content: '';
  width: 54px;
  height: 24px;
  background-color: #ace2f8;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 1px;
  left: 0;
  z-index: -1;
}
.services__all-services_data:nth-child(3) span:first-child::before {
  content: '';
  width: 36px;
  height: 24px;
  background-color: #ace2f8;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 1px;
  left: 0;
  z-index: -1;
}
.services__all-services_data_name {
  font: 13px/26px Arial, sans-serif;
  color: #333;
  padding-left: 6px;
  position: relative;
}
.services__all-services_data_count {
  font: bold 13px/15px Arial, sans-serif;
  color: #333;
  padding: 5px 42px 0 0;
}
.services__total-count {
  font: bold 16px/20px Arial, sans-serif;
  color: #333;
  display: flex;
  justify-content: space-between;
}
.services__total-count_name {
  padding-top: 12px;
}
.services__total-count_count {
  padding: 12px 42px 0 0;
}

/* ============ END services ============ */
/* ============  BEGIN review  ============ */
#review-block .col-sm-12 {
  min-height: 0;
  padding: 0;
}

.review-header {
  margin-top: 23px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
}
.review-header__div {
  width: 240px;
  display: flex;
  justify-content: space-between;
}
.review-header__last-reviews {
  font: bold 16px/16px Arial, sans-serif;
  color: #333;
}
.review-header__a, .review-header__a:focus {
  font: 14px/16px Arial, sans-serif;
  cursor: pointer;
  text-decoration: underline;
}
.review-header .review-icons {
  width: 90px;
  margin-top: 2px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.review-header .review-icons__div-like, .review-header .review-icons__div-msg {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.review-header .review-icons__div-like_img, .review-header .review-icons__div-msg_img {
  width: 12px;
  height: 11px;
  padding-top: 2px;
}
.review-header .review-icons__div-like_num, .review-header .review-icons__div-msg_num {
  font: 12px Arial, sans-serif;
  color: #333;
  margin-left: 5px;
}
.review-header .review-icons__div-msg_img {
  width: 13px;
  height: 13px;
}

.message-block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  margin-top: 17px;
}
.message-block:first-child {
  margin-top: 13px;
}
.message-block::before {
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.19);
  border-left: 5px solid rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 20px;
  left: 23px;
}
.message-block::after {
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid  #f2fbff;
  border-left: 5px solid  #f2fbff;
  position: absolute;
  top: 22px;
  left: 24px;
}
.message-block__user-name {
  font: bold 14px/19px Arial, sans-serif;
  color: #333;
  margin-right: 7px;
}
.message-block__data {
  font: 11px/20px Arial, sans-serif;
  color: #808080;
}
.message-block__p {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.19);
  background-color: #f2fbff;
  font: 14px/19px Arial, sans-serif;
  color: #333;
  padding: 14px 19px 11px;
  margin: 9px 0 0 0;
}

/* ============  END review  ============ */
/* ============  BEGIN comment  ============ */
#addComments .col-sm-12 {
  min-height: 0;
  padding: 0;
}

.comment {
  margin-top: 20px;
  position: relative;
}
.comment::before {
  content: '';
  width: calc(100% + 39px);
  height: 194px;
  background-color: #f2f2f2;
  position: absolute;
  top: 0;
  left: -20px;
  z-index: -1;
}
.comment__textarea {
  height: 65px;
  width: 100%;
  max-width: 449px;
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 #ececec, 0 1px 0 #f8f8f8;
  display: block;
  margin: 29px auto 0;
  padding: 7px;
  box-sizing: border-box;
  resize: none;
}
.comment__button, .comment__button:focus {
  font: bold 16px PT Sans, sans-serif;
  color: #333;
  background-color: #fdd639;
  border-radius: 25px;
  border: none;
  margin: 18px auto 0;
  text-decoration: none;
  padding: 13px 73px 11px 66px;
  cursor: pointer;
  display: block;
  -webkit-transform: scale(0.86, 1);
  -moz-transform: scale(0.86, 1);
  -ms-transform: scale(0.86, 1);
  -o-transform: scale(0.86, 1);
  transform: scale(0.86, 1);
}

/* ============  END comment  ============ */

/*# sourceMappingURL=style.css.map */
