@mixin absolute ($hor, $ver) {
	position: absolute;
	top: $hor;
	left: $ver;
}

@mixin flex ($row, $wrap) {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: $row $wrap;
	flex-flow: $row $wrap;
}

@media (min-width: 488px) and (max-width: 508px) {

	.manager__offer {
		width: 86%;
		font: 13px/20px Arial, sans-serif;
	}
}

@media (min-width: 360px) and (max-width: 487px) {

	.manager {
		@include flex (row, wrap);
		justify-content: center;

		&__divData {
			align-self: center;
		}

		&__offer {
			width: 316px;
			font: 13px/20px Arial, sans-serif;
			padding: 7px 15px;
			margin: 6px auto 0;
			position: initial;
		}
	}

	#service .col-sm-12 {
		float: none;
		display: block;
		margin: 12px auto 0;
	}

	.services {
		margin: 12px 0 0 0;
	}

	.message-block__p {
		text-align: justify;
	}

	.review-header {
		@include flex (row, wrap);
		justify-content: flex-end;
		
		&__div {
			width: 100%;
		}
	}
}