@font-face {
    font-family: 'PTSansbold';
    src: url('fonts/PTSansbold.eot');
    src: url('fonts/PTSansbold.eot') format('embedded-opentype'),
         url('fonts/PTSansbold.woff2') format('woff2'),
         url('fonts/PTSansbold.woff') format('woff'),
         url('fonts/PTSansbold.ttf') format('truetype'),
         url('fonts/PTSansbold.svg#PTSansbold') format('svg');
}

@mixin absolute ($hor, $ver) {
	position: absolute;
	top: $hor;
	left: $ver;
}

@mixin transformScale ($hor, $ver) {
	-webkit-transform: scale($hor, $ver);
	-moz-transform: scale($hor, $ver);
	-ms-transform: scale($hor, $ver);
	-o-transform: scale($hor, $ver);
	transform: scale($hor, $ver);
}

@mixin flex ($row, $wrap) {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: $row $wrap;
	flex-flow: $row $wrap;
}

*:focus {
	outline: none;
}

.container {
	width: 100%;
}

.valid-message {
	color: #f00;
	text-align: center;
}

body {
	max-width: 720px;
	min-width: 360px;
	background-color: #fff;
	outline: 1px solid #000;
	margin: 0 auto;
	padding: 0 19px 0 20px;
	box-sizing: border-box;
}

$colorText: #333;

/* ============  BEGIN header  ============ */

header .col-sm-12 {
	padding: 0;
}

.manager {
	margin-top: 16px;
	display: flex;
	@include flex (row, nowrap);
	
	&__img {
		height: 120px;
		width: 120px;
		margin-left: 1px;
		z-index: 2;
	}

	&__divData {
		margin-left: 10px;

		&_name {
			font: bold 16px/20px Arial, sans-serif;
			color: $colorText;
			margin: 0 0 1px 0;
		}

		&_position {
			font: 12px/20px Arial, sans-serif;
			color: #808080;
			margin: 0;
		}
	}

	&__offer {
		font: 14px/20px Arial, sans-serif;
		color: $colorText;
		margin: 0;
		background-color: #fffbc8;
		border: 1px solid rgba(60,44,0,.25);
		border-radius: 3px;
		padding: 7px 13px 7px 70px;
		@include absolute (51px, 60px);
	}
}

/* ============ END header ============ */
/* ============  BEGIN services  ============ */

#service .col-sm-12 {
	float: right;
}

.services {
	width: 319px;
	margin: -1px 0 0 0;

	&__header {
		font: 13px/15px Arial, sans-serif;
		color: $colorText;
		text-align: right;
		margin: 0 33px 7px 0;
	}

	&__all-services {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 14px 0;

		&_data {
			display: flex;
			justify-content: space-between;

			@each $i, $j, $k in (1, 219px, #b1e19b), (2, 54px, #ace2f8), (3, 36px, #ace2f8) {
				&:nth-child(#{$i}) {
					span:first-child::before{
						content: '';
						width: $j;
						height: 24px;
						background-color: $k;
						border-radius: 0 3px 3px 0;
						@include absolute (1px, 0);
						z-index: -1;
					}
				}
			}

			&_name {
				font: 13px/26px Arial, sans-serif;
				color: $colorText;
				padding-left: 6px;
				position: relative;
			}

			&_count {
				font: bold 13px/15px Arial, sans-serif;
				color: $colorText;
				padding: 5px 42px 0 0;
			}
		}
	}

	&__total-count {
		font: bold 16px/20px Arial, sans-serif;
		color: $colorText;
		display: flex;
		justify-content: space-between;

		&_name {
			padding-top: 12px;
		}

		&_count {
			padding: 12px 42px 0 0;
		}
	}
}

/* ============ END services ============ */
/* ============  BEGIN review  ============ */

#review-block .col-sm-12 {
	min-height: 0;
	padding: 0;
}

.review-header {
	margin-top: 23px;
	@include flex (row, nowrap);
	justify-content: space-between;
	position: relative;

	&__div {
		width: 240px;
		display: flex;
		justify-content: space-between;
	}

	&__last-reviews {
		font: bold 16px/16px Arial, sans-serif;
		color: $colorText;
	}

	&__a, &__a:focus {
		font: 14px/16px Arial, sans-serif;
		cursor: pointer;
		text-decoration: underline;
	}

	.review-icons {
		width: 90px;
		margin-top: 2px;
		text-align: right;
		display: flex;
		justify-content: space-between;
		
		&__div-like, &__div-msg {
			@include flex (row, nowrap);

			&_img {
				width: 12px;
				height: 11px;
				padding-top: 2px;
			}

			&_num {
				font: 12px Arial, sans-serif;
				color: $colorText;
				margin-left: 5px;
			}
		}

		&__div-msg_img {
			width: 13px;
			height: 13px;
		}
	}
}

.message-block {
	@include flex (row, wrap);
	position: relative;
	margin-top: 17px;

	&:first-child {
		margin-top: 13px;
	}

	&::before {
		content: '';
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-bottom: 5px solid  rgba(0,0,0,.19);
		border-left: 5px solid  rgba(0,0,0,.19);
		@include absolute (20px, 23px);
	}

	&::after {
		content: '';
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-bottom: 5px solid  #f2fbff;
		border-left: 5px solid  #f2fbff;
		@include absolute (22px, 24px);
	}
	
	&__user-name {
		font: bold 14px/19px Arial, sans-serif;
		color: $colorText;
		margin-right: 7px;
	}

	&__data {
		font: 11px/20px Arial, sans-serif;
		color: #808080;
	}

	&__p {
		width: 100%;
		border: 1px solid rgba(0,0,0,.19);
		background-color: #f2fbff;
		font: 14px/19px Arial, sans-serif;
		color: $colorText;
		padding: 14px 19px 11px;
		margin: 9px 0 0 0;
	}
}

/* ============  END review  ============ */
/* ============  BEGIN comment  ============ */

#addComments .col-sm-12 {
	min-height: 0;
	padding: 0;
}

.comment {
	margin-top: 20px;
	position: relative;

	&::before {
		content: '';
		width: calc(100% + 39px);
		height: 194px;
		background-color: #f2f2f2;
		@include absolute (0, -20px);
		z-index: -1;
	}

	&__textarea {
		height: 65px;
		width: 100%;
		max-width: 449px;
		border: 1px solid #a9a9a9;
		border-radius: 2px;
		box-shadow: inset 0 1px 0 #ececec, 0 1px 0 #f8f8f8;
		display: block;
		margin: 29px auto 0;
		padding: 7px;
		box-sizing: border-box;
		resize: none;
	}

	&__button, &__button:focus {
		font: bold 16px PT Sans, sans-serif;
		color: $colorText;
		background-color: #fdd639;
		border-radius: 25px;
		border: none;
		margin: 18px auto 0;
		text-decoration: none;
		padding: 13px 73px 11px 66px;
		cursor: pointer;
		display: block;
		@include transformScale (.86, 1);
	}
}

/* ============  END comment  ============ */